{% extends "base.html" %}


{% block content %}
<div class="home-intro">
    <br>
    <div class="banner-container">
        <img class="banner-image" src="{{ get_url(path='banner.jpg') }}" />
    </div>
    <div class="wedding-date">
        <span class="date-text">22 août 2026</span>
    </div>
    <p>Bienvenue sur le site de notre mariage ! Nous espérons que vous y trouverez toutes les infos dont vous avez
        besoin.
        N'hésitez pas à nous contacter si vous souhaitez d'autres renseignements !</p>
</div>
{% endblock content %}